{% extends 'base.html' %}
{% block meta %}
    <title>Delete Skill</title>
{% endblock meta %}
{% block content %}
    <main class="edit-page">
        <div class="container edit-page-container">
            <a class="button back-btn" href="{% url 'main:show_skill' %}">Back</a>
            {% for skill in skill_list %}
                <div class="data-card">
                    <div class="data">
                        <p>
                            <span class="label">Skill Name</span><br>
                            <span class="value">{{ skill.name }}</span>
                        </p>
                        <p>
                            <span class="label">Skill Category</span><br>
                            <span class="value">{{ skill.skill_category }}</span>
                        </p>
                        <p>
                            <span class="label">Skill Short Description</span><br>
                            <span class="value">{{ skill.short_desc }}</span>
                        </p>
                    </div>
                    <div class="edit-action">
                        {% if user.is_superuser %}
                        <div class="delete-btn">
                            {% include "components/skill_delete_modal.html" %}
                        </div>
                        {% endif %}
                        <div class="update-btn">
                            <form method="get"
                                  action="{% url 'main:update_skill' skill.id %}">
                                  <button type="submit" class="button warning-button">Update Skill</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}