{% extends 'base.html' %}
{% block meta %}
    <title>Delete Skill</title>
{% endblock meta %}
{% block content %}
    <main class="delete-page">
        <div class="container delete-page-container">
            <a class="button back-btn" href="{% url 'main:show_skill' %}">Back</a>
            {% for skill in skill_list %}
                <div class="data-card">
                    <div class="data">
                        <p>
                            <span class="label">Skill Name</span><br>
                            <span class="value">{{ skill.name }}</span>
                        </p>
                        <p>
                            <span class="label">Skill Category</span><br>
                            <span class="value">{{ skill.skill_category }}</span>
                        </p>
                        <p>
                            <span class="label">Skill Short Description</span><br>
                            <span class="value">{{ skill.short_desc }}</span>
                        </p>
                    </div>
                    <div class="delete-btn">
                        {% include "components/skill_delete_modal.html" %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}