{% extends 'base.html' %}
{% block meta %}
    <title>Education - {{ name }}</title>
{% endblock meta %}
{% block content %}
    <main class="section-page">
        <section id="education-section-page">
            <div class="container">
                <p class="section-kicker">My Education Background</p>
                <div class="section-header education-header">
                    <h1>Education</h1>
                    <a href="{% url 'main:create_education' %}"
                       class="button add-button education-add-button">
                        <span aria-hidden="true">+</span>
                        Add Education
                    </a>
                </div>
                <form method="get"
                      action="{% url 'main:show_education' %}"
                      class="search-bar education-search-bar">
                    <input type="search"
                           name="institution_name"
                           value="{{ institution_name_query }}"
                           placeholder="Search based on the institution name"
                           class="search_input"
                           aria-label="Search based on the institution name">
                    <button type="submit" class="button">Search</button>
                </form>
                <div class="section-container" id="education-container">
                    {% for education in education_list %}
                        <article class="education-card">
                            <img class="institution-logo" src="{{ education.institution_logo.url }}" alt="education.name">
                            <div class="education-info">
                                <p class="education-desc">
                                    <span class="institution">{{ education.institution_name }}</span><br>
                                    <span class="major">{{ education.major }}</span>
                                </p>
                                <p class="education-term">{{ education.year_start }} - {{ education.year_end }}</p>
                                <ul class="activities">
                                    {% for activity in education.activity_list %}
                                    <li>{{ activity }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </article>
                    {% empty %}
                        <p class="empty-state">
                            No education background has been added.
                        </p>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}